.hero {
padding-left: 30px;
padding-right: 30px;
}
.is-human{
background-color: #b9f;
}
.is-btn{
display: flex;
justify-content: center;
padding-top: 50px;
}
.button-icon{
padding-right: 10px;
}